<p><h1>Hey</h1></p>
<p><h1>Welcome to {{ app }}</h1></p>
<p>Email: {{ email }}</p>
<p>Click "Confirm" to confirm your email</p>
<p>
    <a href="{{ link }}"><b>Confirm</b></a>
</p>
<p>or click the link below</p>
<p>{{ link }}</p>
<p>Confirmation link will be expired in <b>24</b> hours</p>
<p>If you did not request this email you can safely ignore it.</p>
