<p><h1>Hey</h1></p>
<p><h1>Welcome to {{ app }}</h1></p>
<p>Email: {{ email }}</p>
<p>Your confirmation code is</p>
<p>
    <h2><b>{{ token }}</b></h2>
</p>
<p>Confirmation code will be expired in <b>24</b> hours</p>
<p>If you did not request this email you can safely ignore it.</p>
